.statusWrapper {
    display: grid;
    grid-template-rows: 25px;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.statusTitle {
    font-weight: bold;
}

.statusInput {
    padding-left: 10px;
    cursor: pointer;
}

.statusText {
    padding-left: 10px;
    cursor: pointer;
}