.profileWrapper {
    display: grid;
    grid-template-rows: 120px 120px auto;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #cdd9e5;
    color: #000000e6;
}

.backgroundPhoto {
    background-color: orangered;
}

.userDataWrapper {
    display: grid;
    margin: 5px 0;
    background-color: darkgrey;
    grid-template-columns: 120px 1fr;
}

.userAvatar {
    /*align-self: center;
    justify-self: center;*/
    border: 2px solid black;
}

.userInfo {
    /*justify-self: start;*/
    border: 2px solid black;
}

.userPostsWrapper {
    display: grid;
    /*background-color: darkgrey;*/
    grid-template-rows: 30px minmax(50px, 150px) auto;
}

.postsTitle {
    padding: 5px;
}

.postsInput {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 100px;
    grid-template-rows: minmax(50px, 150px) 35px;
    grid-template-areas:
        "area area"
        ". buttonSend";
}

.area {
    grid-area: area;
    margin: 5px 0;
}

.buttonSend {
    grid-area: buttonSend;
    margin: 5px 0;
}

.allPostsWrapper {
    /*grid-column: 1/span3;*/
}