.usersWrapper {
    overflow: auto;
    display: grid;
    grid-template-rows: 30px 30px auto;
}

.sectionTitle { }

.pages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr) ) ;
    grid-gap: 4px;
    align-items: center;
}

.pages > li {
    display: grid;
    border: 1px solid black;
    justify-items: center;
    align-items: center;
    border-radius: 2px;
    height: 25px;
}

.pages > li:hover {
    cursor: pointer;
}

.active {
    background-color: #282c34;
    font-weight: bold;
}

.active > a {
    color: #cdd9e5;
}

.allUsersWrapper { }