.userPostsWrapper {
    display: grid;
    /*background-color: darkgrey;*/
    grid-template-rows: 30px minmax(50px, 150px) auto;
}

.postsTitle {
    padding: 5px;
}

.allPostsWrapper {
    /*grid-column: 1/span3;*/
}