.userPostsWrapper {
    display: grid;
    grid-template-rows: 30px minmax(50px, 150px) auto;
}

.postsTitle {
    padding: 5px;
}

.profileTextArea {
    display: grid;
}

.allPostsWrapper {
    display: grid;
}