.itemWrapper {
    display: grid;
    grid-template-rows: 12px auto;
    align-items: center;
}

.itemInput {
    cursor: pointer;
}

.itemInput > input {
    min-width: 100%;
}

.itemText {
    cursor: pointer;
}