.messageWrapper {
    display: grid;
    grid-template-columns: 80px 1fr;
    margin-bottom: 10px;
}

.userAvatar {
    border-radius: 35px;
    height: 70px;
    width: 70px;
    align-self: start;
    align-items: start;
}

.userAvatar > img {
    height: 70px;
    width: 70px;
}

.message {
    background-color: white;
    border-radius: 8px;
    padding: 5px;
}