.userWrapper {
    display: grid;
    margin: 20px 0;
    grid-template-columns: 80px 1fr;
    grid-template-areas:
        "userAvatarWrapper userData"
}

.userAvatarWrapper > div img {
    border-radius: 35px;
    height: auto;
    width: 70px;
    align-self: start;
    align-items: start;
}

.userFollowStatus {
    display: grid;
    color: #282c34;
    border: 1px solid #282c34;
    font-size: 14px;
    border-radius: 4px;
    padding: 4px;
    height: 26px;
    width: 70px;
    margin-top: 5px;
    align-content: center;
    justify-content: center;
}

.userAvatarWrapper > div > img {
    height: 70px;
    width: 70px;
}

.userData {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    font-weight: normal;
    align-items: center;
}

.itemTitle {
    font-size: 10px;
    text-transform: uppercase;
    color: darkgrey;
}

.itemData {
    display: grid;
}
