.userWrapper {
    display: grid;
    margin: 20px 0;
    grid-template-columns: 80px 1fr;
    grid-template-areas:
        "userAvatarWrapper userData"
}
.userAvatarWrapper {
    display: grid;
    grid-gap: 5px;
}

.userAvatarWrapper > div img {
    border-radius: 35px;
    height: auto;
    width: 70px;
    align-self: start;
    align-items: start;
}

.userAvatarWrapper > div > img {
    height: 70px;
    width: 70px;
}

.userData {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    font-weight: normal;
    align-items: center;
}

.itemData {
    display: grid;
}
