.footerWrapper {
    grid-area: footer;
    grid-column: 1/5;
    padding: 5px 20px;
    background-color: #282c34;
    display: grid;
}

.email, .phone {
    justify-self: end;
    align-self: center;
}

.email > a, .phone > a {
    color: #cdd9e5;
}