.profileInfoWrapper {
    display: grid;
    grid-template-rows: 120px auto;
}

.backgroundPhoto {
    background-color: #ffc300;
    border-radius: 8px 8px 0 0;
}

.userDataWrapper {
    display: grid;
    margin: 20px 0;
    grid-template-columns: 120px 1fr;
}

.userAvatar {
    align-self: start;
    justify-self: start;
}

.userAvatar > img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.userInfo {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}

.userInfo > div > span {
    font-weight: bold;
}

.userInfo > div > div {
    padding-left: 20px;
}