.profileInfoWrapper {
    display: grid;
    grid-template-rows: 120px auto;
}

.backgroundPhoto {
    background-color: #ffc300;
    border-radius: 8px 8px 0 0;
}

.userDataWrapper {
    display: grid;
    margin: 20px 0 10px 0;
    grid-template-columns: 120px 1fr;
}

.userAvatar {
    align-self: start;
    justify-self: start;
}

.userAvatar > img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.userInfo {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    grid-row-gap: 5px;
}

.itemWrapper {
    display: grid;
    grid-template-areas:
        "div div";
    grid-template-columns: auto 1fr;
    grid-template-rows: 30px;
    align-items: center;
}

.title {
    font-weight: bold;
    padding-left: 0;
}

.data {
    padding-left: 10px;
}

.contactsWrapper > div {
    padding-left: 20px;
}

.userInfo > div > span {
    font-weight: bold;
}



