.postWrapper {
    display: grid;
    margin: 20px 0;
    grid-template-columns: 80px 1fr 70px;
    grid-template-rows: minmax(100px, auto) auto;
    grid-template-areas:
        "avatar myPost myPost"
        ". . myPostLike";
}

.myAvatar {
    grid-area: avatar;
    border-radius: 35px;
    height: 70px;
    width: 70px;
    align-self: start;
    align-items: start;
}

.myAvatar > img {
    height: 70px;
    width: 70px;
}

.myPost {
    grid-area: myPost;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
}

.myPostLike {
    grid-area: myPostLike;
    justify-self: end;
    margin: 5px 0;
    color: #0009;
    font-size: 14px;
    display: grid;
}

.myPostLike > img {
    grid-row: 1/1;
    height: 14px;
    width: 14px;
    align-self: center;
}

.myPostLike > div {
    grid-row: 1/1;
    padding: 0 0 0 3px;
}