.dialogWrapper {
    display: grid;
    grid-template-rows: 1fr 160px;
    grid-template-columns: 200px 1fr;
    overflow: auto;
}

.dialogMessagesWrapper {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 200px 1fr;
    overflow: auto;
}

.dialogUsers {
    display: grid;
    align-self: start;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}

.dialogMessages {
    display: grid;
    margin-left: 20px;
    align-self: start;
    overflow: visible ;
}

.dialogInput {
    display: grid;
    grid-template-rows: minmax(100px, 150px);
    grid-column: 2/3;
    align-self: end;
}
